<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="HideClient" value="false"/>
    <add key="IsLinuxServer" value="false"/>
    <add key="SocketIP" value="83.86.247.33"/>
    <add key="Port" value="100"/>

  </appSettings>
</configuration>
